
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dice {
  border: 2px solid rgb(0, 255, 10);
  background: black;
  color: rgb(0, 255, 10);
  text-align: center;
  font-size: 8em;
  display: row;
  margin:auto;
  padding: 10px;
}

.container-scorecards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid rgb(0, 255, 10);
  background: black;
  color: rgb(0, 255, 10);
}

.type {
  border: 1px solid black;
}

.scorep1 {
  border: 1px solid black;
}

.scorep2 {
  border: 1px solid black;
}

header {
  display: flex;
  justify-content: center;
}

.button-cont {
  display: flex;
  justify-content: center;
}

#main-menu {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid rgb(0, 255, 10);
  background: black;
  color: rgb(0, 255, 10);
}

#start {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid rgb(0, 255, 10);
  background: black;
  color: rgb(0, 255, 10);
}

body {
  background: black;
}

td {
  border: 2px solid rgb(0, 255, 10);
  color: rgb(0, 255, 10);
  padding: 2px;
}

.type {
  border: 2px solid rgb(0, 255, 10);
}

.panel-heading {
  font-size: 50px;
}

h1 {
  color: rgb(0, 255, 10);
  font-size: 70px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgb(0, 255, 10);
  width: 50%;
  margin-left: 25%;
}

.instructions{
  display: block;
}

li {
  color: rgb(0, 255, 10);
}

h2 {
  color: rgb(0, 255, 10);
  font-size: 50px;
}

#roll {
  margin: 10px;
  padding: 10px;
  border: 2px solid rgb(0, 255, 10);
  background: black;
  color: rgb(0, 255, 10);
}

#p1holdbtn1 {
  margin: 10px;
  border: 2px solid rgb(0, 255, 10);
  background: black;
  color: rgb(0, 255, 10);
}
#p1holdbtn2 {
  margin: 10px;
  border: 2px solid rgb(0, 255, 10);
  background: black;
  color: rgb(0, 255, 10);
}
#p1holdbtn3 {
  margin: 10px;
  border: 2px solid rgb(0, 255, 10);
  background: black;
  color: rgb(0, 255, 10);
}
#p1holdbtn4 {
  margin: 10px;
  border: 2px solid rgb(0, 255, 10);
  background: black;
  color: rgb(0, 255, 10);
}
#p1holdbtn5 {
  margin: 10px;
  border: 2px solid rgb(0, 255, 10);
  background: black;
  color: rgb(0, 255, 10);
}
#p1holdbtn6 {
  margin: 10px;
  border: 2px solid rgb(0, 255, 10);
  background: black;
  color: rgb(0, 255, 10);
}
#p1calc {
  margin: 10px;
  border: 2px solid rgb(0, 255, 10);
  background: black;
  color: rgb(0, 255, 10);
}
